@model IEnumerable<AtendimentoViewModel>

@{
    ViewData["Title"] = "Atendimentos";
}

<div class="container">
    <div class="row">
        <h5 class="text-secondary">
            <i class="fas fa-comments"></i>
            Lista de Atendimentos
        </h5>
    </div>
    <div class="row mt-2">
        <div class="col-4">
            <a class="btn btn-sm btn-success mb-2" asp-action="NovoAtendimento">
                <i class="fas fa-plus-circle"></i> Adicionar atendimento
            </a>
        </div>
    </div>
    <table class="table table-light text-sm-left">
        <thead>
            <tr>
                <th hidden="hidden">Código</th>
                <th>Cidadão</th>
                <th>Assunto</th>
                <th>Protocolo</th>
                <th>Última Atualização</th>
                <th>Situação do Atendimento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td hidden="hidden">@item.Id</td>
                    <td>@item.Cidadao.Nome</td>
                    <td>@item.AssuntoAtendimento.TituloAssunto</td>
                    <td>@item.Protocolo</td>
                    <td>@item.DataHoraAtualizacao</td>
                    @{
                        switch (item.StatusAtendimento)
                        {
                            case 1:
                                <td>Aberto</td>
                                break;

                            case 2:
                                <td>Cancelado</td>
                                break;

                            case 3:
                                <td>Finalizado</td>
                                break;

                            default:
                                <td>Aberto</td>
                                break;
                        }
                    }
                    <td>
                        <div class="container justify-content-around">
                            <a class="btn btn-sm btn-primary mr-1" asp-action="Detalhes" asp-route-id="@item.Id">
                                <span class="fas fa-search"></span>
                            </a>
                            <a class="btn btn-sm btn-warning mr-1" asp-action="AtualizarStatus" asp-route-id="@item.Id">
                                <span class="fas fa-edit"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
