@model IEnumerable<AssuntoAtendimentoViewModel>

@{ 
    ViewData["Title"] = "Assuntos";
}

<div class="container">
    <div class="row">
        <h5 class="text-secondary">
            <i class="fas fa-comment"></i>
            Assuntos
        </h5>
    </div>
    <div class="row mt-2">
        <div class="col-4">
            <a class="btn btn-sm btn-primary mb-2" asp-action="Cadastrar">
                <i class="fas fa-plus-circle"></i>Novo Assunto
            </a>
        </div>
    </div>
    <div class="table-overflow">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th hidden="hidden">Código</th>
                    <th>Assunto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ToList())
                {
                    <tr>
                        <td hidden="hidden">@item.Id</td>
                        <td>@item.TituloAssunto</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-sm btn-primary mr-2" asp-action="Detalhes" asp-route-id="@item.Id" title="Detalhes">
                                    <span class="fas fa-search"></span>
                                </a>
                                <a class="btn btn-sm btn-success mr-2" asp-action="Atualizar" asp-route-id="@item.Id" title="Atualizar">
                                    <span class="fas fa-edit"></span>
                                </a>
                                <a class="btn btn-sm btn-danger" asp-action="Excluir" asp-route-id="@item.Id" title="Excluir">
                                    <span class="fas fa-trash-alt"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
