@model ColaboradorViewModel

@{ 
    ViewData["Title"] = "Detalhes do Colaborador";
}

<div class="container">
    <h5 class="text-center text-secondary">Colaborador(a)</h5>
    <table class="table table-striped text-sm-left">
        <thead>
            <tr>
                <th>Código</th>
                <th>Colaborador(a)</th>
                <th>Matrícula</th>
                <th>Data Cadastro</th>
                <th>Situação</th>
                <th>Cargo</th>
                <th>Quantidade de Atendimentos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Nome</td>
                <td>@Model.Matricula</td>
                <td>@Model.DataCad</td>
                <td>@Model.Situacao</td>
                <td>@Model.Cargo</td>
                <td>@Model.Atendimentos.Count()</td>
            </tr>
        </tbody>
    </table>
</div>