@model IEnumerable<ColaboradorViewModel>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Colaborador</th>
                <th>Matrícula</th>
                <th>Cargo</th>
                <th>Ativo?</th>
                <th>Quantidade de Atendimentos</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CargoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Atendimentos.Count())
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>